html {
    height: 100%;
    font-size: 18px;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 100%;
    color: black;
}

h1, h2, h3 {
    font-family: 'Poiret One', cursive;
}

h1 {
    font-size: 3rem;
    margin-top: 0;
}

#page-content {
    border: 1px solid #666666;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 1rem 0 #dddddd;
    margin: 1rem;
    padding: 3rem;
}